@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-title">Sistema <strong>ERP</strong></h2>
        <h4></h4>
        <h4>Estoque</h4>
        <ul>
            <li><a asp-area="" asp-controller="Grupos" asp-action="Index">Grupo</a></li>
            <li><a asp-area="" asp-controller="SubGrupos" asp-action="Index">SubGrupo</a></li>
            <li><a asp-area="" asp-controller="UnidadeMedidaEstoque" asp-action="Index">Unidade de Medidade de Estoque</a></li>
            <li><a asp-area="" asp-controller="Codigos" asp-action="Index">Codigo</a></li>
        </ul>
        <h4>Financeiro</h4>
        <ul>
            <li><a asp-area="" asp-controller="Grupos" asp-action="Index">Grupo</a></li>
            <li><a asp-area="" asp-controller="SubGrupos" asp-action="Index">SubGrupo</a></li>
            <li><a asp-area="" asp-controller="UnidadeMedidaEstoque" asp-action="Index">Unidade de Medidade de Estoque</a></li>
            <li><a asp-area="" asp-controller="Codigos" asp-action="Index">Codigo</a></li>
        </ul>
        <h4>Hotelaria</h4>
        <ul>
            <li><a asp-area="" asp-controller="Receitas" asp-action="Index">Grupo</a></li>
        </ul>
    </div>
</div>
